/* Estilos para el contenedor principal */
.mainContainer {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
  .darkBackground {
    background: linear-gradient(45deg, #000000 30%, #393941 90%);
  }
  /* Estilos para el título */
  h4 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilos para los elementos de la lista de imágenes */
  .ImageList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Estilos para cada tarjeta de información */
  .InfoCard {
    width: calc(33.3% - 20px); /* Ajusta el ancho de la tarjeta */
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease; /* Agregar transición suave */
  }
  
  /* Estilos para la imagen dentro de InfoCard */
  .InfoCard img {
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
  }
  
  /* Estilos para el contenido dentro de InfoCard */
  .InfoCardContent {
    padding: 15px;
  }
  
  /* Otros estilos específicos según tus necesidades */
  